# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
.env/
.venv

# Jupyter notebooks checkpoints
.ipynb_checkpoints/


# System files
.DS_Store
Thumbs.db

# Ollama model cache (if exists)
ollama/

# VSCode 
.vscode/
.idea/
